.formcss {
  margin-top: 30px;
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}
.MuiContainer-root {
  width: 50% !important;
}

/* Error styles */
.error {
  color: red;
  margin-top: 5px;
}

.text-center {
  color: rgb(119, 119, 119);
}

/* mobile */
@media (max-width: 600px) {
  .formcss {
    width: 50%;
    height: 50%;
  }
  .MuiContainer-root {
    width: 80% !important;
  }
}