*{
  margin: 0;
}
.startup-page {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Exo 2", sans-serif;
  background: linear-gradient(to top, #001C30, #001C30);
  background: -webkit-linear-gradient(top, #001C30, #001C30);
}

.startup-page .header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0rem 0rem 9rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 4rem);
}


.startup-page .title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.startup-page .top-title {
  order: 1;
  color: #fff;
  font-size: clamp(1rem, 4vw, 1.5rem);
  margin-bottom: 1rem;
}

.startup-page .bottom-title {
  order: 3;
  color: #fff;
  font-size: clamp(0.5rem, 2vw, 1.2rem);
  margin-top: 2rem;
}

.startup-page .sweet-title {
  order: 2;
  color: #fde9ff;
  font-weight: 900;
  text-transform: uppercase;
  font-size: clamp(3rem, 10vw, 6rem);
  line-height: 0.75em;
  text-align: center;
 

  span {
    display: block;
    position: relative;

    &:before {
      content: attr(data-text);
      position: absolute;
      text-shadow: 2px 2px 1px #e94aa1, -1px -1px 1px #c736f9,
        -2px 2px 1px #e94aa1, 1px -1px 1px #f736f9;
      z-index: 1;
    }

    &:nth-child(1) {
      padding-right: 2.25rem;
    }

    &:nth-child(2) {
      padding-left: 2.25rem;
    }
  }
}


.startup-page::-webkit-scrollbar {
  width: 0.5em;
  background-color: #f5f5f5;
}

.startup-page::-webkit-scrollbar-thumb {
  background-color: #000;
} 

@media (max-width: 600px) { /* Adjust the breakpoint as needed */
  .bottom-title {
    display: none;
  }
}
